<!doctype html>
<html ng-app="app" ng-controller="kotyCtrl">
    <head>
        <!-- cdn linki -->
        <!-- dzięki nim używany jest bootstrap oraz angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- /cdn linki -->
        
        
        <!-- main -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zwierzaki</title>
        <!-- main -->
        
        <!--css-->
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--/css-->
    </head>
    <body id="body">
        
        <!-- navbar -->
        <!-- pasek nawigacyjny u góry strony -->
        <nav class="navbar navbar navbar-fixed-top navbarCSS" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-left" href="../../index.html">
                        <img class="logoImg" src="../img/logo.jpg"/><img class="logoText" src="../img/logoZwierzaki.png"/>
                    </a>
                </div>
                <a href="../view/opis.html" class="btn btn-warning navbar-btn navbar-right"><i class="fa fa-cog fa-fw fa-lg fa-spin"></i>&nbsp; Opis</a>
                <a href="spis/koty.html" class="btn btn-warning navbar-btn navbar-right">Zobacz wszystkie rasy</a>
            </div>
        </nav>
        <!-- /navbar -->
        
        <!--container-->
        <!-- glówny kontener -->
        <div class="container containerCSS">
            
            <!-- nagłówek -->
            <div class="page-header">
                <img class="img-responsive imgCentered" src="../img/koty.png"/>
            </div>
            <!-- /nagłówek -->
            
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <a id="firstImg" href="koty.html" class="thumbnail">
                        <img id="firstPath"/>
                        <div class="caption">
                            <h3 id="firstRace">Rasa</h3>
                            <hr>
                            <h4>Informacje i historia</h4>
                            <p id="firstDescription">Informacje i historia</p>
                            <hr>
                            <h4>Charakter i opieka</h4>
                            <p id="firstDescription2">Charakter i opieka</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6">
                    <a id="secondImg" href="koty.html" class="thumbnail">
                        <img id="secondPath"/>
                        <div class="caption">
                            <h3 id="secondRace">Rasa</h3>
                            <hr>
                            <h4>Informacje i historia</h4>
                            <p id="secondDescription">Informacje i historia</p>
                            <hr>
                            <h4>Charakter i opieka</h4>
                            <p id="secondDescription2">Charakter i opieka</p>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
        <!--/container-->
        
        <!-- stopka -->
        <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="navbar-text pull-left">
                    <p>Autor: Krystian Szatkiewicz</p>
                </div>
                <div class="navbar-text pull-right">
                    <a href="http://www.github.com/kryniek">github.com/kryniek</a>
                </div>
            </div>
        </div>
        <!-- /stopka -->
        
        <!--JS-->
        <script src="../js/main.js"></script>
        <script src="../js/animals/koty.js"></script>
        <!--JS-->
        
    </body>
</html>