<!doctype html>
<html ng-app="app" ng-controller="appCtrl">
    <head>
        <!-- cdn linki -->
        <!-- dzięki nim używany jest bootstrap oraz angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- /cdn linki -->
        
        
        <!-- main -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zwierzaki</title>
        <!-- main -->
        
        <!--css-->
        <link rel="stylesheet" href="../css/main.css">
        <!--/css-->
    </head>
    <body>
        
        <!-- navbar -->
        <!-- pasek nawigacyjny u góry strony -->
        <nav class="navbar navbar navbar-fixed-top navbarCSS" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-left" href="../../index.html">
                        <img class="logoImg" src="../img/logo.jpg"/><img class="logoText" src="../img/logoZwierzaki.png"/>
                    </a>
                </div>
                <a href="../view/opis.html" class="btn btn-warning navbar-btn navbar-right">Opis</a>
            </div>
        </nav>
        <!-- /navbar -->
        
        <!--container-->
        <!-- glówny kontener -->
        <div class="container containerCSS">
            
            <!-- nagłówek -->
            <div class="page-header">
                <img class="img-responsive imgCentered" src="../img/opis.png"/>
            </div>
            <!-- /nagłówek -->
            
            <div>
                <h2>Dołącz do zabawy</h2>
                <p>Wybierz jedno zwierze spośród wielu różnych zwierząt, by zacząć sprawdzać swój gust.</p>
                <hr>
                <h2>Wybieraj pomiędzy różnymi rasami</h2>
                <p>Każde zwierze dzieli się na rasy, a każda rasa różni się czymś od drugiej. Wybierz tą, która bardziej Ci odpowiada.</p>
                <hr>
                <h2>I sprawdź...</h2>
                <p>...w rankingu zwierząt jakie rasy Ci się najbardziej podobają według Twojego gustu.</p>
                <hr>
                <h2>Chce więcej zdjęć!</h2>
                <p>I masz! Możesz wejść w każdą rasę i podejrzeć zdjęcia oraz krótki opis danej rasy.</p>
                <hr>
            </div>
            
        </div>
        <!--/container-->
        
        <!-- stopka -->
        <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="navbar-text pull-left">
                    <p>Autor: Krystian Szatkiewicz</p>
                </div>
                <div class="navbar-text pull-right">
                    <a href="http://www.github.com/kryniek">github.com/kryniek</a>
                </div>
            </div>
        </div>
        <!-- /stopka -->
        
        <!--JS-->
        <script src="../js/main.js"></script>
        <script src="../js/controller.js"></script>
        <!--JS-->
        
    </body
</html>